{% extends 'layouts/dashboard_layout.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if "error" in message.tags %}
            <script>
                Swal.fire({
                    title: "Se produjo un error",
                    text: "{{ message }}",
                    icon: "error"
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<main class="table__principal__datos table__principal__datos__form">
    <section class="table__principal__datos__content">
        <div class="table__left__information">
            <header class="table__left__information__header">
                <div class="table__left__information__header__title">
                    <h3 class="table__left__information__header__title-text">{{ title }} | Nuevo</h3>
                </div>

                <div class="table__left__information__header__link">
                    <a class="table__left__information__header__link-click table__left__information__header__link-click-danger" href="{% url 'empleados' %}">
                        <i class="bi bi-x-lg"></i> Cancelar
                    </a>
                    <a href="#" id="submitNuevoEmpleado" class="table__left__information__header__link-click">
                        <i class="bi bi-floppy2-fill"></i> Guardar
                    </a>
                </div>
            </header>
        </div>
    </section>

    <section class="table__principal__datos__content table__principal__datos__content__from">
        <div class="table__left__information">

            <form method="POST" id="formNuevoEmpleado" class="table__left__information__form__new table__left__information__form__new-grid">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% for field in form %}
                    <div class="table__left__information__form__new__block">
                        <label class="table__left__information__form__new__block-label">
                            {{ field.label }}:
                        </label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

            </form>

        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('submitNuevoEmpleado').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('formNuevoEmpleado').submit();
    });
</script>
{% endblock %}
