{% extends 'layouts/dashboard_layout.html' %}
{% load static %}


{% block title %} {{title}} {% endblock %}



{% block content %}


{% if messages %}
        {%for message in messages %}
                {%if "error" in message.tags %}
                    <script>
                            Swal.fire({
                                title: "Se produjo un error",
                                text: "{{message}}",
                                icon: "error"
                            });
                    </script>
                {%endif%}
        {% endfor %}
{% endif %}

<main class="table__principal__datos table__principal__datos__form">
    <section class="table__principal__datos__content">
        <div class="table__left__information">
            <header class="table__left__information__header">
                    <div class="table__left__information__header__title">
                            <h3 class="table__left__information__header__title-text">{{title}} | Nuevo</h3>
                    </div>
    
                    <div class="table__left__information__header__link">
                        <a class="table__left__information__header__link-click table__left__information__header__link-click-danger" href="{% url 'asignar_permisos'%}">
                            <i class="bi bi-x-lg"></i> Cancelar</a>
                        <a href="#" id="submitAsignarPermiso" class="table__left__information__header__link-click">
                            <i class="bi bi-floppy2-fill"></i> Guardar
                        </a>
                        
                    </div>
            </header>
        </div>
    </section>
    
    <section class="table__principal__datos__content table__principal__datos__content__from">
        <div class="table__left__information">

            <form method="POST" id="formAsignarPermiso" class="table__left__information__form__new">
                {% csrf_token %}
                {{ form.non_field_errors }}
            
                <div class="table__left__information__form__new__block">
                    <label class="table__left__information__form__new__block-label">Rol:</label>
                    {{ form.rol }}
                    {{ form.rol.errors }}
                </div>
            
                <div class="table__left__information__form__new__block">
                    <label class="table__left__information__form__new__block-label">Permisos:</label>
                    <div class="table__left__information__form__new__checkbox-group">
                        {{ form.permisos }}
                    </div>
                    {{ form.permisos.errors }}
                </div>
            </form>
            
                    
        </div>
    </section>
</main>

{% endblock %}

{% block scripts %}
<script>
    document.getElementById('submitAsignarPermiso').addEventListener('click', function (event) {
        event.preventDefault(); // Evita que el enlace navegue
        document.getElementById('formAsignarPermiso').submit(); // Envía el formulario
    });
</script>

{% endblock %}