// Colores
$celeste: #00bbc2;
$celesteOpacity: #00bcc2c3;
// $celesteOpacity: #00c8cfa6;
// $celeste: #00d7df #CE93FA #f5e7bf;
$negro: #292929;
$amarillo: #F0DA69;
$rosa: #E7C2D4;
$violeta: #CE93FA;
$blanco:#ffff;
$gris: #404040;
$verde: #33d158;
$verdeSuccess: #208e3a;
$rojo:#f85a6a;